dataset
weights
__pycache__
*.pyc
.vscode/launch.json
test.py
*.m~
plot_antenna_layout
plot_S
plot_Z
# eigen_result
x0_dataset/
testing_dataset/
mode_verification/
impedance_matrix_improved.py
training_testing_dataset/

*.mat
tmp.py
tmp.m
logs
.vscode/

small_scale_channel_tracking/data/HFSS/12GHz_patch.aedtresults
small_scale_channel_tracking/data/HFSS/AnsysEM_Backup
small_scale_channel_tracking/data/HFSS/RingAnt&ProbeBLC.aedtresults
small_scale_channel_tracking/data/HFSS/Z_result/.12GHz_patch_8_8.tab.swp
small_scale_channel_tracking/data/HFSS/Z_result/12GHz_patch_8_8.tab
small_scale_channel_tracking/data/HFSS/12GHz_patch.aedt.batchinfo/
small_scale_channel_tracking/data/HFSS/12GHz_patch.aedt.q
small_scale_channel_tracking/data/HFSS/12GHz_patch.log
*.aedt
*.lock
*.auto
*.pt

Z_result_Patch.m
z_extraction_38GHz.py